<!DOCTYPE html>
<html lang="en">
  <head>
    <title>政大即食通</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- dataTable styles, select one -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- style end -->

    <link rel="stylesheet" href="stylesheets/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="javascripts/bootstrap-input-spinner.js"></script>
  </head>
  <body>

    <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">政大即食通</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/features">Features</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orders</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/history">History</a>
              <a class="dropdown-item" href="/customer">Customer</a>
              <a class="dropdown-item" href="/restaurant">Restaurant</a>
            </div>
          </li>
          <li class="nav-itemk">
            <a class="nav-link" href="/chaininfo">ChainInfo</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <br><br><br>

    <div class="container mt-3">

      <h3>團隊成員</h3><br>

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/102703021.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <h5>資科四 劉有容</h5>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/images/104304037.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <h5>統計四 尹崇安</h5>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/104703010.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <h5>資科四 陳子軒</h5>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/106357025.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <h5>財管碩二 周書寧</h5>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/107356027.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <h5>資管碩一 劉冠宏</h5>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="images/107753039.png" alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <h5>資科碩一 李德暐</h5>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
    </div>

  </body>
</html>
