body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*

a {
color: #00B7FF;
}
 */

#map{
    width: 100%;
    height: 350px;
}

input[type=number]{
    width: 40px;
}

.invisiable{
    display: none;
    visibility: hidden;
}
